certifi==2020.12.5
chardet==4.0.0
click==7.1.2
click-config-file==0.6.0
click-plugins==1.1.1
configobj==5.0.6
cssselect==1.1.0
cycler==0.10.0
idna==2.10
joblib==1.0.1
kiwisolver==1.3.1
lxml==4.6.3
matplotlib==3.4.1
nltk==3.6.2
numpy==1.20.2
oauthlib==3.1.0
Pillow==8.2.0
pyparsing==2.4.7
pyquery==1.4.3
PySocks==1.7.1
python-dateutil==2.8.1
regex==2021.4.4
requests==2.25.1
requests-oauthlib==1.3.0
six==1.16.0
tqdm==4.60.0
twarc==2.0.12
urllib3==1.26.4
